---
layout: archive
---

**This is my old website. Please find my new and updated website here: <a href="joliennoels.com">joliennoels.com</a>**  

I am a young researcher interested in anything at the intersection of environmental economics, finance and urban economics.
<br>
<br>
I am currently working for the <a href="https://www.oecd.org">OECD</a> researching the net zero transition from a regional/urban view. Previously, I worked for the <a href="https://www.transitionpathwayinitiative.org">Transition Pathway Initiative</a> (at the LSE's <a href="https://www.lse.ac.uk/granthaminstitute/">GRI</a>) analysing companies' preparedness to transition to a low carbon economy. <a href="https://climateaction100.files.wordpress.com/2019/10/progressreport2019.pdf">Investors use this research as a tool for climate action.</a>
